# Backend
backend/build/
backend/.gradle/
backend/bin/
backend/out/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# IDE
.idea/
*.iml
.vscode/

# Env
.env
*.log

# OS
.DS_Store
Thumbs.db
.next/
